.news {
    padding-left: 5%;
    a {
        color: rgb(21, 196, 21);
        font-size: 1.5rem;
        font-weight: 900;
        text-decoration: none;
        @media (max-width:480px) {
            font-size: 90%;
        }
        @media (max-width:812px) {
            font-size: 90%;
        }
    }
    &-header {
        margin-left: 2%;
        @media (max-width:480px) {
            font-size: 90%;
        }
        @media (max-width:812px) {
            font-size: 100%;
        }
    }
    &-content {
        display: flex;
        margin-left: 1.5%;
        margin-top: -2%;
        @media (max-width:480px) {
            margin-left: 6%;
            margin-top: -7%;
        }
    }
    &-item {
        margin-left: 0.5%;
    }
    &-container {
        background-color: rgb(22, 22, 22);
        padding-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        li {
            font-size: 1.5rem;
            font-weight: 900;
            margin-left: -3%;
        }
        @media (max-width:480px) {
            font-size: 70%;
            li {
                font-size: 100%;
                margin-left: -10%;
            }
        }
    }
}